<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1 style="color: chocolate;">Welcome <%= name %>!</h1>
  <h2>You have successfully registered!</h2>
  <p><% body %></p>
  <!-- <img src="cid:uniqueImageId" alt="flower" width="300"/> -->
</body>
</html>
